<div class="row">
  <div class="col-xs-10">
    <h3>Shopping List</h3>
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of ingredients" style="cursor: pointer" (click)="onEditIngredient(ingredient.id)">
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
